body {
        margin: 0.5em;
        padding: 0em;
        border: 1px solid white;
}

h1 {
    	font-family: serif;
	font-weight: normal;
}

.debug, .warning, .error, .fatal {
	white-space: pre;
	font-family: monospace;
}

.warning ul, .error ul, .fatal ul {
	white-space: pre;
	font-weight: bold;
}

.hint, .warning {
	background: #ffff88;
}

.error, .fatal {
	background: #ffdddd;
}

.buildscript {
	color: green;
	font-weight: bold;
}

.redo, .msbuild {
	white-space: pre;
	font-family: monospace;
	font-weight: bold;
}
